{% extends 'includes/base.html' %}
{% load static %}

{% block title %}
Confirm your message
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="card" style="width: 80vw;">
                <div class="card-body">
                    <h5 class="card-title" style="color: #000000ee;">Hey {{ senderName }}, are you sure to send this
                        message?</h5>
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <label style="color: #000000ee;">Your name</label> <br>
                        <input type="text" name="senderName" style="width: 100%;" value="{{ senderName }}" required
                            readonly> <br>
                        <label style="color: #000000ee;">Your message</label> <br>
                        <textarea name="message" rows="7" style="width: 100%;" required
                            readonly>{{ message }}</textarea> <br><br>
                        <input class="custom-modal-button" type="submit" value="Yes, post this message"
                            id="confirm-button"><br><br>
                    </form>
                    <form action="/" method="GET">
                        {% csrf_token %}
                        <input class="custom-modal-button" type="submit" value="No">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}