{% extends 'includes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Tell me anything! | Messages for Samuel
{% endblock %}

{% block content %}

<div class="container-fluid" style="padding-bottom: 8vh;">

  <!--Title-->
  <div class="row">
    <div class="col-12 text-center">
      <div class="display-4 page-title">
        Is there anything you want me to know{% if user.is_authenticated %}, {{user.username}}{% endif %}?
      </div>
    </div>
  </div>
  <!--End of title-->

  <!--Write-me-a-message modal form-->
  <div class="row">
    <div class="col-12 text-center">
      <button type="button" class="btn custom-button" data-toggle="modal" data-target=".bd-example-modal-xl"
        id='add-message-button'>
        Write me a message!
      </button>

      <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="writeAMessageModal"
        aria-hidden="true" style="color: rgb(53, 53, 53);">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Compose a message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="confirmation/" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="fieldWrapper">
                  {{ field.errors }}
                  {{ field|as_crispy_field }}
                </div>
                {% endfor %}
                <button type="button" class="btn custom-modal-button" data-dismiss="modal">Close</button>
                <input type="submit" class="btn custom-modal-button" id="submit-button" value="Send">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End of write-me-a-message modal form-->

  <!--Written message(s)-->
  <div class="row">
    <div class="col-12 text-center">
      <h5 class="previous-message-title">
        {% if count > 1 %}
        Previous messages
        {% else %}
        Previous message
        {% endif %}
      </h5>
    </div>
  </div>

  {% for message in messages %}
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="card" style="width: 80vw; background-color: {{ message.color }};">
        <div class="card-body">
          <h5 class="card-title" style="color: #000000ee;">A message from {{ message.senderName }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">posted on {{ message.dateCreated }}</h6>
          <p class="card-text" style="color: #000000ee;">{{ message.message }}</p>
          <a href="{% url 'change_color' message.id %}" class="btn custom-modal-button" id="change-color-button">Change
            Color</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!--End of written message(s)-->

</div>
{% endblock %}