{% extends 'includes/base.html' %}
{% load static %}

{% block title %}
Who is Samuel? | Samuel's Profile
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-1 text-right" style="margin-right: 0; padding-left: 0;">
        <span>Light Mode</span>
    </div>
    <div class="col-11" style="margin-left: 0; padding-left: 0;">
        <label class="switch" id="light-mode-toggle">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <div class="display-4 page-title">
            Know me better!
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="accordion_wrap accordion_1">
        <div class="accordion_header" id="accordion1">
            <div class="row" style="margin-top: -15px;">
                <div class="col-8 accordion-title"><span>Basic Profile</span></div>
                <div class="col-4 text-center">
                    <a class='up' href='#' id="up1">&uarr;</a> <a class='down' href='#' id="down1">&darr;</a>
                </div>
            </div>
        </div>
        <div class="accordion_body">
            <p>
                <table align="center">
                    <tr>
                        <td style="text-align: right;">Name&nbsp;</td>
                        <td><b>Samuel</b></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Birthday&nbsp;</td>
                        <td><b>February 20th 2001</b></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Domicile&nbsp;</td>
                        <td><b>Tangerang, Banten</b></td>
                    </tr>
                </table>
            </p>
        </div>
    </div>
    <div class="accordion_wrap accordion_2">
        <div class="accordion_header" id="accordion2">
            <div class="row" style="margin-top: -15px;">
                <div class="col-8 accordion-title"><span>Activities</span></div>
                <div class="col-4 text-center">
                    <a class='up' href='#' id="up2">&uarr;</a> <a class='down' href='#' id="down2">&darr;</a>
                </div>
            </div>
        </div>
        <div class="accordion_body">
            <p>
                I'm currently studying at Faculty of Computer Science, University of Indonesia. I'm a computer science
                major.
                At this moment, I'm working on TOKI's new website with Fairuzi Teguh.
            </p>
        </div>
    </div>
    <div class="accordion_wrap accordion_3">
        <div class="accordion_header" id="accordion3">
            <div class="row" style="margin-top: -15px;">
                <div class="col-8 accordion-title"><span>Organization</span></div>
                <div class="col-4 text-center">
                    <a class='up' href='#' id="up3">&uarr;</a> <a class='down' href='#' id="down3">&darr;</a>
                </div>
            </div>
        </div>
        <div class="accordion_body">
            <ul>
                <li>IA TOKI Camp 2020</li>
                <li>Educare 2020</li>
                <li>Compfest XII Competitive Progamming Competition</li>
            </ul>
        </div>
    </div>
    <div class="accordion_wrap accordion_4">
        <div class="accordion_header" id="accordion4">
            <div class="row" style="margin-top: -15px;">
                <div class="col-8 accordion-title"><span>Achievement</span></div>
                <div class="col-4 text-center">
                    <a class='up' href='#' id="up4">&uarr;</a> <a class='down' href='#' id="down4">&darr;</a>
                </div>
            </div>
        </div>
        <div class="accordion_body">
            <ul>
                <li>Bronze Medallist of National Science Olympiad XVII in Informatics</li>
                <li>Eighteenth Place of 2019 ICPC Asia Jakarta Regional Contest</li>
                <li>Second Place of Tangerang City MGMP Mathematics Competition</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'script/accordion.js' %}"></script>
<script src="{% static 'script/light-mode.js' %}"></script>
{% endblock %}