{% extends 'includes/base.html' %}
{% load static %}

{% block title %}
Read It Like A Book! | Book Review
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Notification -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<!-- End of Notification -->

<!-- Light Mode Toggler -->
<div class="row">
    <div class="col-1 text-right" style="margin-right: 0; padding-left: 0;">
        <span>Light Mode</span>
    </div>
    <div class="col-11" style="margin-left: 0; padding-left: 0;">
        <label class="switch" id="light-mode-toggle">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>
<!-- End of Light Mode Toggler -->

<!-- Page Title -->
<div class="row">
    <div class="col-12 text-center">
        <div class="display-4 page-title">
            Read It Like A Book{% if user.is_authenticated %}, {{user.username}}{% endif %}!
        </div>
    </div>
</div>
<!-- End of Page Title -->

<!-- Search Bar -->
<div class="row">
    <div class="col-12 text-center">
        <input type="search" placeholder="Title or author..." id="query">
        <button type="button" class="btn custom-button" id="search-button"><i class="fa fa-search"></i></button>
    </div>
</div>
<!-- End of Search Bar -->

<br>

<!-- Highest Rated Books -->
<div class="container col-12 text-center">
    <!-- Show Highest Rated Books Button -->
    <button type="button" class="btn custom-button" data-toggle="modal" data-target=".bd-example-modal-xl"
        id='top-rated-btn'>
        Top Rated Books
    </button>
    <!-- End of Show Highest Rated Books Button -->

    <!-- Highest Rated Books Modal -->
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="writeAMessageModal"
        aria-hidden="true" style="color: rgb(13, 66, 66);">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Top Rated Books</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <!-- End of Highest Rated Books Modal -->
</div>
<!-- End of Highest Rated Books -->

<!-- Search Results -->
<div id="results"></div>
<!-- End of Search Results -->

<br><br><br>

{% endblock %}
{% block script %}
<script src="{% static 'script/accordion.js' %}"></script>
<script src="{% static 'script/light-mode.js' %}"></script>
<script src="{% static 'script/bookSearch.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
{% endblock %}