{% extends 'includes/base.html' %}
{% load static %}

{% block title %}
Log Me In!
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Notification -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<!-- End of Notification -->

<!-- Light Mode Toggler -->
<div class="row">
    <div class="col-1 text-right" style="margin-right: 0; padding-left: 0;">
        <span>Light Mode</span>
    </div>
    <div class="col-11" style="margin-left: 0; padding-left: 0;">
        <label class="switch" id="light-mode-toggle">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>
<!-- End of Light Mode Toggler -->

<!-- Page Title -->
<div class="row">
    <div class="col-12 text-center">
        <div class="display-4 page-title">
            Log Me In!
        </div>
    </div>
</div>
<!-- End of Page Title -->
<div class="container-fluid" style="width: 100%; margin-top: 5vh;">
    <div class="col-12 col-md-6 col-lg-5 mx-auto">
        <div class="container text-center">
            {% if user.is_authenticated %}
            <div class="container" style="margin-top: 4vh; margin-bottom: 3vh;">
                <h3 class='display-5'>Have a wonderful day,</h3>
                {% if userData %}
                <img src="{{ userData.photo }}" style="width: 15vw; border-radius: 50%;">
                <h2 class="display-4" id="username-display">
                    {{ userData.first_name }} {{ userData.last_name }}
                </h2>
                <h4>
                    {{ userData.dob }}
                </h4>
                <h5 style="text-transform: lowercase;">
                    {{ userData.hobby }} makes you happy
                </h5>
                {% else %}
                <h2 class="display-4" id="username-display">
                    {{user.username}}
                </h2>
                {% endif%}
            </div>
            <div class="centre-items tombol">
                <a class="btn custom-button" href="{% url 'logout' %}" id='logout'>Logout</a>
            </div>



            {% else %}
            <div class='form'>
                <form action="" method="POST">
                    {% csrf_token %} {{ form }}
                    <div class="centre-items" style="margin-top: 2vh; margin-bottom: 2vh;">
                        <input type="submit" class="btn custom-button" value="Login" id="submit">
                    </div>
                </form>
                Don't have an account? Sign up <a href="{% url 'signup' %}" style="color: rgb(148, 148, 148);"
                    id="sign-up">here</a>!
            </div>
            {% endif %}
        </div>
    </div>
</div>




{% endblock %}
{% block script %}
<script src="{% static 'script/light-mode.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
{% endblock %}