{% extends 'includes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Sign Up! | Log Me In
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Notification -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<!-- End of Notification -->

<!-- Light Mode Toggler -->
<div class="row">
    <div class="col-1 text-right" style="margin-right: 0; padding-left: 0;">
        <span>Light Mode</span>
    </div>
    <div class="col-11" style="margin-left: 0; padding-left: 0;">
        <label class="switch" id="light-mode-toggle">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>
<!-- End of Light Mode Toggler -->

<!-- Page Title -->
<div class="row">
    <div class="col-12 text-center">
        <div class="display-4 page-title">
            Sign Me Up!
        </div>
    </div>
</div>
<!-- End of Page Title -->
<div class="container-fluid" style="width: 100%; margin-top: 5vh;">
    <div class="col-12 col-md-6 col-lg-5 mx-auto">
        <div class="container text-center">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
                <button type="submit" id="submit-button">Sign up</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}
{% block script %}
<script src="{% static 'script/light-mode.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
{% endblock %}