@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body {
    background: linear-gradient(270deg, #004B6B 0.66%, #3B7481 99.95%, #04177C 99.96%);
    font-family: 'Lato';
    color: azure;
}

.light-mode-button {
  background-color: #ffffff00;
  border-color: rgb(13, 66, 66);;
  color: rgb(13, 66, 66);;
  font-weight: normal;
  border-width: 3px;
  border-style: solid;
  letter-spacing: 0.15em;
  text-align: center;
  padding: 3px 6px;
}

.light-mode-button:hover {
background-color: rgb(13, 66, 66) !important;
border-color: #ffffff00;
color: azure;
font-weight: 400;
border-width: 3px;
text-decoration: none;
}

.light-mode-button:focus {
outline: 0;
box-shadow: 0 0 0 0.2rem #f0ffffee;
}

.light-mode {
  background: linear-gradient(270.06deg, #ECF9FF 0.66%, #FFFFFF 43.59%);
  color: rgb(2, 50, 78);
}

.light-mode-title {
    background: linear-gradient(270.06deg, #ECF9FF 0.66%, #FFFFFF 43.59%);
    color: rgb(2, 50, 78);
    margin-top: 5vh;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.accordion-light {
    background-color: #000000;
    color: rgb(2, 50, 78);
}

.row {
    padding-top: 3vh;
}

.page-title {
    margin-top: 5vh;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.custom-button {
    background-color: #ffffff00;
    border-color: azure;
    color: azure;
    font-weight: normal;
    border-width: 3px;
    border-style: solid;
    letter-spacing: 0.15em;
    text-align: center;
    padding: 3px 6px;
}

.custom-button:hover {
  background-color: azure !important;
  border-color: #ffffff00;
  color: #3B7481 99.95%;
  font-weight: 400;
  border-width: 3px;
  text-decoration: none;
}

.custom-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #f0ffffee;
}

.previous-message-title {
  color: azure;
}

.custom-modal-button {
  background-color: #ffffff00;
  border-color: rgb(13, 66, 66);
  color: rgb(13, 66, 66);
  font-weight: normal;
  border-width: 3px;
  border-style: solid;
  letter-spacing: 0.15em;
  text-align: center;
  padding: 3px 6px;
}

.custom-modal-button:hover {
  background-color: rgb(13, 66, 66) !important;
  border-color: #ffffff00;
  color: azure;
  font-weight: 400;
  border-width: 3px;
  text-decoration: none;
}

.wrapper{
  width: 450px;
  margin: 80px auto 0;
}

.wrapper .accordion_wrap .accordion_header{
  width: 100%;
  height: 60px;
  padding: 3px;
  padding-left: 15px;
  font-weight: 700;
  border-bottom: 2px solid #000000fe;
  position: relative;
  cursor: pointer;
}

.accordion_header{
  background: #fff;
  color: #000000aa;
}

.wrapper .accordion_wrap:first-child .accordion_header{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.wrapper .accordion_wrap:last-child .accordion_header{
  border-bottom: 2px solid transparent;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.wrapper .accordion_wrap:last-child .accordion_header:hover{
  border-bottom: 2px solid transparent;
}

.wrapper .accordion_wrap .accordion_header:before,
.wrapper .accordion_wrap .accordion_header:after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 20px;
  height: 2px;
  background: #000000aa;
}

.accordion_header:hover{
  color: #01645d;
  border-color: #01645d;
}

.wrapper .accordion_wrap .accordion_header:hover:before,
.wrapper .accordion_wrap .accordion_header:hover:after{
  background: #01645d;
}

.wrapper .accordion_wrap .accordion_header:after{
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}

.accordion_body{
  width: 100%;
  height: 0px;
  transition: all 0.5s ease;
  background: #ffffff22;
  overflow: hidden;
}

.light-mode-body{
  background: #00000022;
}

.wrapper .accordion_wrap .accordion_body p{
  padding: 15px;
  font-size: 15px;
  line-height: 22px;
}

.wrapper .accordion_wrap .accordion_header.active{
  color: #01645d; 
  border-color: #01645d;
}

.wrapper .accordion_wrap:last-child .accordion_header.active{
  border-bottom: 2px solid #01645d;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.wrapper .accordion_wrap .accordion_header.active:before,
.wrapper .accordion_wrap .accordion_header.active:after{
  background: #01645d;
}

.wrapper .accordion_wrap .accordion_header.active:after{
  transform: rotate(0deg);
}

.wrapper .accordion_wrap .accordion_header.active + .accordion_body{
  height: 180px;
}

.wrapper .accordion_wrap:first-child .accordion_header .row .col-4 a.up,
.wrapper .accordion_wrap:last-child .accordion_header .row .col-4 a.down {
  display: none;
}

.wrapper .accordion_wrap .accordion_body ul{
  padding: 30px;
}

.wrapper .accordion_wrap .accordion_header a{
  color: #00000088;
}

.wrapper .accordion_wrap .accordion_header a:hover{
  color: #000000fe;
  transition: ease 0.3s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(2, 50, 78);;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(2, 50, 78);;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.light-mode-header {
  color: #daf5f3; 
  background: rgb(11, 85, 114);
}

.light-mode-header:hover {
  color: #8cbebb;
  border-color: #8cbebb;
}

.fa-heart-o {
  color: red;
  cursor: pointer;
}

.fa-heart {
  color: red;
  cursor: pointer;
}